

<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>{% block title %}Page de base{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <!-- Your page content -->
        {% block navbar %}
        <nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Menu</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                  <a class="nav-link" href="{{url_for('events')}}">Calendrier</a>
                  <a class="nav-link" href="{{url_for('test')}}">Test</a>

                  <a class="nav-link disabled">Disabled</a>
                </div>
              </div>
            </div>
          </nav>

        {% endblock %}
        {% block content %}
        <div class="container">
            {% block image_flag %}
            <img src="https://www.la-spa.fr/app/app/uploads/2023/07/prendre-soin_duree-vie-chat.jpg" alt="Une image de chat" width="150">
            {% endblock %}
            
            Test</div>
        
        
        {% endblock %}
        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>